<!DOCTYPE html>
<html>
<head>
    <title>Smart Mirror</title>
    <!-- Links for Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet"> 
    <!-- Script for Speech to Text -->
    <script src="../../../Resources/Libraries/annyang.min.js" type="text/javascript"></script>
    <!-- Scripts for JQuery -->
    <script src="../../../Scripts/jquery-3.1.1.js" type="text/javascript"></script>
    <!-- Self Scripts-->
    <script src="../../Logic/Javascript/test.js" type="text/javascript"></script>
    <!-- Link for CSS -->
    <link href="../css/index.css" rel="stylesheet" type="text/css" />

	<meta charset="utf-8" />
</head>
<body>
    <p id="time"></p>
    <p>Hello</p>
</body>
</html>
