@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

html {
    height: 100%;
}
body {
    font-family: 'Armata', sans-serif;
    height: 100%;
    background-color: black;
    overflow-y: hidden;
}
#main-container {
    width: 100%;
    height: 100%;
}
/* Top Section */
#section-top {
    height: 25%;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.widget {
    text-align: center;
    width: 150px;
    height: 125px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1
}
.widget > img {
     -webkit-transition: margin 0.5s ease-out;
     -moz-transition: margin 0.5s ease-out;
     -o-transition: margin 0.5s ease-out;
}
.strech {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

/* Bottom Section */
#section-bottom {
    /*margin-top: 50px; /* Pushed down 50px because of .bump-up animation*/
    height: 75%;
    text-align: center;
    position: relative;
}
#hub {
    height: 75%;
    width: 75%;
    display: inline-block;
    position: relative;
}
#map {
    visibility: collapse;
}
#weather {
    visibility: collapse;
}
#speech-spitter {
    height: auto;
    width: auto;
    min-height: 50px;
    min-width: 100px;
    opacity: 0.25;
    border-radius: 5px;
    font-size: small;
    vertical-align: bottom;
    display: inline-block;
    background-color: white;
    position: absolute;
    top: calc(100% - 140px);
    left: calc(100% - 125px);
    box-shadow: 0 0 5px 10px white;
}
#speech-spitter > p {
    padding: 5px;
}
#speech-spitter > p::first-letter {
    text-transform: capitalize;
}
/* ------------- Animations ------------- */
.bump-down {
    margin-top: 50px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 9999;
    color: white;
}
/* ------------- Weather Section ------------- */
#weather-container {
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 5px 10px white;
}
.weather-top {
    height: 45%;
    width: 95%;
    padding: 10px;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 5px;
}
.weekly-forecast {
    height: 100%;
    width: 100%;
}
.weekly-forecast-days-column {
    height: 95%;
    width: 12%;
    border: 4px solid black;
    margin: 2px;
    border-radius: 2px;
    display: inline-block;
}
.weekly-forecast-days-weekday {
    height: 10%;
    width: 100%;
    border-bottom: 2px solid black;
    background-color: lightblue;
}
.weekly-forecast-days-cells {
    height: 90%;
    width: 100%;
    background-color: lightblue;
}
.weekly-forecast-days-info-cells {
    height: 150px;
}
.predicted-temp {
    padding-top: 30px;
}
.weather-bottom {
    height: 40%;
    width: 95%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 5px;
    border: 5px solid black;
    border-radius: 5px;
}
.current-day {
    border-bottom: 2px solid black;
}
.current-info-day {
    border-bottom: 2px solid black;
}
.weather-current-forecast {
    height: 95%;
    width: 47%;
    display: inline-block;
    margin-left: -10px; /* Offset borders making it un-centered in .weather-bottom */
    /*padding-bottom: 15px; /* Offset borders making .weather-current-forecast not long enough */*/
    vertical-align: top;
    border: 5px solid black;
    border-radius: 5px;
    background-color: lightblue;
}
.current-temperature {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
}
.current-icon {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
p.current-humidity {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
p.current-chance-of-rain {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
.weather-bottom-right {
    height: calc(95% - 5px);
    width: 47%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}
.extra-info-title {
    border-bottom: 2px solid black;
}
.weather-high-low-temperature {
    height: calc(50% - 5px);
    width: 100%;
    display: block;
    margin-bottom: 5px;
    border: 5px solid black;
    border-radius: 5px;
    background-color: lightblue;
}
.weather-high-temp {
    display: inline-block;
    margin-right: 25px;
}
.weather-low-temp {
    display: inline-block;
    margin-left: 25px;
}
.weather-current-info {
    height: calc(50% - 5px);
    width: 100%;
    display: block;
    border: 5px solid black;
    border-radius: 5px;
    background-color: lightblue;
}
/* ------------- Maps Section ------------- */
#map-container {
    height: 100%;
    width: 100%;
    position: relative;
    text-align: -webkit-auto;
}
#map-left-side {
    height: 100%;
    width: 45%;
    display: inline-block;
    box-shadow: 0 0 5px 5px #242f3e, 0 0 5px 10px black;
    vertical-align: top;
}
.map-right-side {
    height: calc(100% + 5px); /* + 5 pixels because of box-shadow on #map-left-side*/
    width: 45%;
    display: inline-block;
    margin-left: 15px;
    background-color: white;
    border-radius: 5px;
    vertical-align: top;
}
.map-info {
    /*height: 10%;*/
    width: 96%;
    display: block;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 5px;
    border: 5px solid black;
    border-radius: 5px;
}
.map-duration {
    width: 50%;
    display: inline-block;
    text-align: center;
}
.map-distance {
    width: 50%;
    display: inline-block;
    text-align: center;
}
.map-duration > p {
    font-size: small;
}
.map-distance > p {
    font-size: small;
}
.map-steps {
    height: 82%;
    width: 96%;
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    border: 5px solid black;
    border-radius: 5px;
    overflow-y: scroll;
}
.map-steps::-webkit-scrollbar {
    display: none;  /* Hide the scroll bar in chrome */
}
.hub-border-fade {
    box-shadow: 0 0 5px 5px #242f3e, 0 0 5px 10px black;
}
/* ------------- News Section ------------- */
.news-container {
    height: 100%;
    width: 100%;
    background-color: white;
    border: 5px solid slategrey;
    /*text-align: center;*/
}
.hideArticle {
    display: none;
}
.news-leftSide {
    height: 90%;
    width: 25%;
    display: inline-block;
    /*vertical-align: top;*/
    margin-top: 15px;
    border: 5px solid black;
}
.news-title {
    height: 25%;
    margin: 10px;
    border: 5px solid black;
}
.news-title > h3 {
    margin: 10px;
    text-decoration: underline;
    font-size: inherit;
}
.news-picture {
    height: 60%;
    margin: 10px;
    border: 5px solid black;
    position: relative;
}
.news-picture > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.news-rightSide {
    height: 90%;
    width: 70%;
    display: inline-block;
    overflow-y: scroll;
    vertical-align: top;
    margin: 15px;
    border: 5px solid black;
}
.news-rightSide::-webkit-scrollbar {
    display: none;  // Hide the scroll bar in chrome
}
/* ---------------------------- Clock Section ---------------------------- */

#clock-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font: 56px "Open Sans", sans-serif;
}
.delim {
    color: white;
}
canvas {
	display: block;
	width: 100%;
	height: 100%;
}
/* --------------- Loader --------------- */
.dots {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  -webkit-filter: url(#goo);
          filter: url(#goo);
}

.dot {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.dot:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #53e455;
  position: absolute;
  left: 50%;
  top: -55px;
  margin-left: -10px;
  margin-top: -10px;
}
@-webkit-keyframes dot-0 {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(343.63636deg);
            transform: rotate(343.63636deg);
  }
}
@keyframes dot-0 {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(343.63636deg);
            transform: rotate(343.63636deg);
  }
}
.dot:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation: dot-0 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
          animation: dot-0 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}
@-webkit-keyframes dot-1 {
  0% {
    -webkit-transform: rotate(212.72727deg);
            transform: rotate(212.72727deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg);
  }
}
@keyframes dot-1 {
  0% {
    -webkit-transform: rotate(212.72727deg);
            transform: rotate(212.72727deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg);
  }
}
.dot:nth-child(2) {
  -webkit-transform: rotate(32.72727deg);
          transform: rotate(32.72727deg);
  -webkit-animation: dot-1 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
          animation: dot-1 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}
@-webkit-keyframes dot-2 {
  0% {
    -webkit-transform: rotate(245.45455deg);
            transform: rotate(245.45455deg);
  }
  100% {
    -webkit-transform: rotate(736.36364deg);
            transform: rotate(736.36364deg);
  }
}
@keyframes dot-2 {
  0% {
    -webkit-transform: rotate(245.45455deg);
            transform: rotate(245.45455deg);
  }
  100% {
    -webkit-transform: rotate(736.36364deg);
            transform: rotate(736.36364deg);
  }
}
.dot:nth-child(3) {
  -webkit-transform: rotate(65.45455deg);
          transform: rotate(65.45455deg);
  -webkit-animation: dot-2 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
          animation: dot-2 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}
@-webkit-keyframes dot-3 {
  0% {
    -webkit-transform: rotate(278.18182deg);
            transform: rotate(278.18182deg);
  }
  100% {
    -webkit-transform: rotate(932.72727deg);
            transform: rotate(932.72727deg);
  }
}
@keyframes dot-3 {
  0% {
    -webkit-transform: rotate(278.18182deg);
            transform: rotate(278.18182deg);
  }
  100% {
    -webkit-transform: rotate(932.72727deg);
            transform: rotate(932.72727deg);
  }
}
.dot:nth-child(4) {
  -webkit-transform: rotate(98.18182deg);
          transform: rotate(98.18182deg);
  -webkit-animation: dot-3 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
          animation: dot-3 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}
@-webkit-keyframes dot-4 {
  0% {
    -webkit-transform: rotate(310.90909deg);
            transform: rotate(310.90909deg);
  }
  100% {
    -webkit-transform: rotate(1129.09091deg);
            transform: rotate(1129.09091deg);
  }
}
@keyframes dot-4 {
  0% {
    -webkit-transform: rotate(310.90909deg);
            transform: rotate(310.90909deg);
  }
  100% {
    -webkit-transform: rotate(1129.09091deg);
            transform: rotate(1129.09091deg);
  }
}
.dot:nth-child(5) {
  -webkit-transform: rotate(130.90909deg);
          transform: rotate(130.90909deg);
  -webkit-animation: dot-4 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
          animation: dot-4 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}
@-webkit-keyframes dot-5 {
  0% {
    -webkit-transform: rotate(343.63636deg);
            transform: rotate(343.63636deg);
  }
  100% {
    -webkit-transform: rotate(1325.45455deg);
            transform: rotate(1325.45455deg);
  }
}
@keyframes dot-5 {
  0% {
    -webkit-transform: rotate(343.63636deg);
            transform: rotate(343.63636deg);
  }
  100% {
    -webkit-transform: rotate(1325.45455deg);
            transform: rotate(1325.45455deg);
  }
}
.dot:nth-child(6) {
  -webkit-transform: rotate(163.63636deg);
          transform: rotate(163.63636deg);
  -webkit-animation: dot-5 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
          animation: dot-5 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}
@-webkit-keyframes dot-6 {
  0% {
    -webkit-transform: rotate(376.36364deg);
            transform: rotate(376.36364deg);
  }
  100% {
    -webkit-transform: rotate(1521.81818deg);
            transform: rotate(1521.81818deg);
  }
}
@keyframes dot-6 {
  0% {
    -webkit-transform: rotate(376.36364deg);
            transform: rotate(376.36364deg);
  }
  100% {
    -webkit-transform: rotate(1521.81818deg);
            transform: rotate(1521.81818deg);
  }
}
.dot:nth-child(7) {
  -webkit-transform: rotate(196.36364deg);
          transform: rotate(196.36364deg);
  -webkit-animation: dot-6 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
          animation: dot-6 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}
@-webkit-keyframes dot-7 {
  0% {
    -webkit-transform: rotate(409.09091deg);
            transform: rotate(409.09091deg);
  }
  100% {
    -webkit-transform: rotate(1718.18182deg);
            transform: rotate(1718.18182deg);
  }
}
@keyframes dot-7 {
  0% {
    -webkit-transform: rotate(409.09091deg);
            transform: rotate(409.09091deg);
  }
  100% {
    -webkit-transform: rotate(1718.18182deg);
            transform: rotate(1718.18182deg);
  }
}
.dot:nth-child(8) {
  -webkit-transform: rotate(229.09091deg);
          transform: rotate(229.09091deg);
  -webkit-animation: dot-7 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
          animation: dot-7 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}
@-webkit-keyframes dot-8 {
  0% {
    -webkit-transform: rotate(441.81818deg);
            transform: rotate(441.81818deg);
  }
  100% {
    -webkit-transform: rotate(1914.54545deg);
            transform: rotate(1914.54545deg);
  }
}
@keyframes dot-8 {
  0% {
    -webkit-transform: rotate(441.81818deg);
            transform: rotate(441.81818deg);
  }
  100% {
    -webkit-transform: rotate(1914.54545deg);
            transform: rotate(1914.54545deg);
  }
}
.dot:nth-child(9) {
  -webkit-transform: rotate(261.81818deg);
          transform: rotate(261.81818deg);
  -webkit-animation: dot-8 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
          animation: dot-8 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}
@-webkit-keyframes dot-9 {
  0% {
    -webkit-transform: rotate(474.54545deg);
            transform: rotate(474.54545deg);
  }
  100% {
    -webkit-transform: rotate(2110.90909deg);
            transform: rotate(2110.90909deg);
  }
}
@keyframes dot-9 {
  0% {
    -webkit-transform: rotate(474.54545deg);
            transform: rotate(474.54545deg);
  }
  100% {
    -webkit-transform: rotate(2110.90909deg);
            transform: rotate(2110.90909deg);
  }
}
.dot:nth-child(10) {
  -webkit-transform: rotate(294.54545deg);
          transform: rotate(294.54545deg);
  -webkit-animation: dot-9 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
          animation: dot-9 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}
@-webkit-keyframes dot-10 {
  0% {
    -webkit-transform: rotate(507.27273deg);
            transform: rotate(507.27273deg);
  }
  100% {
    -webkit-transform: rotate(2307.27273deg);
            transform: rotate(2307.27273deg);
  }
}
@keyframes dot-10 {
  0% {
    -webkit-transform: rotate(507.27273deg);
            transform: rotate(507.27273deg);
  }
  100% {
    -webkit-transform: rotate(2307.27273deg);
            transform: rotate(2307.27273deg);
  }
}
.dot:nth-child(11) {
  -webkit-transform: rotate(327.27273deg);
          transform: rotate(327.27273deg);
  -webkit-animation: dot-10 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
          animation: dot-10 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}
