html {
    height: 100%;
}
body {
    font-family: 'Armata', sans-serif;
    height: 100%;
}
#main-container {
    width: 100%;
    height: 100%;
}
/* Top Section */
#section-top {
    height: 25%;
}

.widget {
    width: 22%;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    text-align: center;

}
.widget > img {
     -webkit-transition: margin 0.5s ease-out;
     -moz-transition: margin 0.5s ease-out;
     -o-transition: margin 0.5s ease-out;
}

/* Bottom Section*/
#section-bottom {
    margin-top: 50px; /* Pushed down 50px because of .bump-up animation*/
    height: 75%;
    text-align: center;
}
#hub {
    height: 75%;
    width: 50%;
    display: inline-block;
}

/* Animations */
.bump-down {
    margin-top: 50px;
}
