html {
    height: 100%;
}
body {
    font-family: 'Armata', sans-serif;
    height: 100%;
    background-color: black;
    overflow-y: hidden;
}
#main-container {
    width: 100%;
    height: 100%;
}
/* Top Section */
#section-top {
    height: 25%;
}

.widget {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.widget > img {
     -webkit-transition: margin 0.5s ease-out;
     -moz-transition: margin 0.5s ease-out;
     -o-transition: margin 0.5s ease-out;
}

/* Bottom Section*/
#section-bottom {
    margin-top: 50px; /* Pushed down 50px because of .bump-up animation*/
    height: 75%;
    text-align: center;
}
#hub {
    height: 75%;
    width: 50%;
    display: inline-block;
}
#map {
    visibility: collapse;
}
#weather {
    visibility: collapse;
}
/* Animations */
.bump-down {
    margin-top: 50px;
}

/* News Section*/
#news-container {
    background-color: white;
    border: 15px gray outset;
    border-radius: 50px;
    padding: 10px;
}
.news-firstRow {
    width: 100%;
    display: inline-block;
}
.news-icon {
    display: inline-block;
    margin: 0 auto;
    padding-right: 50px;
    vertical-align: middle;
}
.news-title {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
}
.news-secondRow {
    width: 100%;
    display: inline-block;
}
.news-thirdRow {
    width: 100%;
    display: inline-block;
}
.news-publishedDate {
    float: right;
    padding-bottom: 10px;
    font-size: 7px;
}

/* Slider */
slider-viewer {
    position: relative;
    overflow: hidden;
    height: 300px;
}
.slide-group {
    width: 100%;
    height: 100%;
    position: relative;
}
.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}
.slide:first-child {
    display: block;
}
